* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
a {
    color: #b3679b;
}
h2 {
    text-align: center; 
    margin: 0 auto;
}
/* Header & Navigation Section */
header {
    top: 0;
    position: sticky;
    height: 110px;
    background-color: #f2f2f2;
    z-index: 500;
    
}
header .logo{
    width: 250px;
}
nav {
    display: inline-block;
    float: right;
}
nav a {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: #e6a563;
}
nav li {
    display: inline-block;
    margin: 20px;
}
/* Hero Section */
.clear {
    clear: both;
}
.hero {
    position: relative;
    background-color: #ffcf83;
    height: 380px;
    display: block;
    text-align: left;
    padding: 20px 20px;
    margin-top: 0%;
}
.button {
    border-radius: 10px;
    background-color: #222e50;
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: left;
    width: fit-content;
}
.button:hover {
    border: 1px solid #222e50;
    color: #222e50;
    background-color: transparent;
}
.hero h1 {
    font-size: 1.5em;
    display: block;
    text-align: left;
}
.hero p {
    display:block;
    text-align: left;
    text-wrap: balance;
    padding: 20px 0px;
}
.hero-cat {
    position: relative;
    right: -50%;
    bottom: 150px;
    max-width: 100%;
}
/* Features Section  */
.clear {
    clear: both;
}
.feature-block {
    width: 325px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    background-color: white;
}
/* Testimonials section */
.testimonials {
    background-color: #222e50;
    color: white;
    padding-left: 70px;
    margin: 20px 5px;
}
.testimonial-block {
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    color: black;
    background-color: white;
}
/* Team Section  */
.team-block {
    width: 210px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 20px;
    align-items: center;
}
.team-block p {
    max-height: 3em;
    overflow: hidden;
}
.team-block h2 {
    
}
/* Footer Section */
footer {
    background-color: #d9d9d9;
    text-align: center;
    padding: 30px;
}
footer img {
    width: 35px;
    display: inline;
}